@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3 {
  font-family: var(--font-title);
  color: #463f3a;
}

p {
  font-family: var(--font-text);
  color: #66666e;
}

@layer components {
  .btn-custom {
    @apply hover:ring hover:ring-turquesa p-1 rounded-md;
  }
}
