@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
}